[Desktop Entry]
Encoding=UTF-8
Name=Emerald Theme Manager
Name[fr]=Gestionnaire de thèmes Emerald
Comment=Configure Emerald themes
Comment[fr]=Configurerer les options des thèmes Emerald
Icon=/usr/share/pixmaps/emerald-theme-manager-icon.png
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
Exec=emerald-theme-manager -i %f
MimeType=application/x-emerald-theme;

