[Desktop Entry]
Type=Application
Name=Emerald Theme Manager
Name[fr]=Gestionnaire de thèmes Emerald
Name[ca]=Gestor de temes de l'Emerald
Name[de]=Emerald Motiv Manager
Name[es]=Gestor de temas del Emerald
Comment=Configure Emerald themes
Comment[fr]=Configurerer les options des thèmes Emerald
Comment[ca]=Configureu els temes de l'Emerald
Comment[de]=Konfiguriert Emerald Motive
Comment[es]=Configura los temas del Emerald
Icon=emerald-theme-manager-icon
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
Exec=emerald-theme-manager %f
MimeType=application/x-emerald-theme;

