[Desktop Entry]
Type=Application
Name=Emerald Theme Manager
Name[fr]=Gestionnaire de thèmes Emerald
Name[ca]=Gestor de temes de l'Emerald
Name[de]=Emerald Motiv Manager
Name[es]=Gestor de temas del Emerald
Name[ru]=Менеджер тем Emerald
Name[uk]=Менеджер тем Emerald
Comment=Configure Emerald themes
Comment[fr]=Configurerer les options des thèmes Emerald
Comment[ca]=Configureu els temes de l'Emerald
Comment[de]=Konfiguriert Emerald Motive
Comment[es]=Configura los temas del Emerald
Comment[ru]=Настройка тем Emerald
Comment[uk]=Налаштування тем Emerald
Exec=emerald-theme-manager %F
Icon=emerald-theme-manager
MimeType=application/x-emerald-theme;
Terminal=false
Categories=Settings;DesktopSettings;

